Django
djangorestframework
django-cors-headers

google-genai
python-dotenv

PyPDF2
pytesseract
python-docx
pdf2image

beautifulsoup4
aiohttp
requests
feedparser

gunicorn
whitenoise

psycopg2-binary
dj-database-url
django-cloudinary-storage
cloudinary